{% extends 'base.html' %}

{% block head %} 
<title>Recipe App</title>
{% endblock %}

{% block body %} 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .button1 {
  float: left;
  width: 35%;
  padding: 1px;
  border: 100px solid #34495e;
  font-size: 25px;
  height: 300px;
  margin-top: 100px;
}
.button2 {
  float: right;
  width: 35%;
  padding: 1px;
  border: 100px solid #34495e;
  font-size: 25px;
  height: 300px;
  margin-top: 100px;
}

.userDetails{
  position: absolute;
  right: 0px;
  width: 200px;
  border: 3px solid darkslateblue;
  padding: 5px;
  color: black;
  border: 25px;
  margin-top: 25px;
  margin-right: 10px;
}
.logout{
  position: absolute;
  right: 200px;
  width: 200px;
  padding: 5px;
  color: black;
  border: 25px;
  margin-top: 25px;
  margin-right: 25px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
</style>
<div class="topnav" style="text-align: center;">
  <h1>Recipe App</h1>
</div>
<button class="userDetails"><a href="{{ url_for('update') }}">Update user details</a></button>

<form action="/logout" method="POST">
  <input class = "logout" type="submit" name="logout" value="Logout">
</form>
<div class="content">
  <button class="button1"><a href="{{ url_for('recipes') }}">Check Recipes</a></button>
  <button class="button2"><a href="{{ url_for('calories') }}">Get Calories</a></button>
  </div>
  <div id="recipeStuff"></div>

{% endblock %}